.section {

  &#banner-main-block {

    #banner-main {
      left: 0;
      right: 0;
      background-color: #fff;
      width: 70.8%;
      left: 14.6%;
    }
  }

  &#intro-block {

    .tit-block {

      .tit-main {
        font-size: 1.5rem;
      }
    }
  }
}
