$color-green: #38E387;
$color-orange: #FFA200;
$color-white: #FFFFFF;

@font-face{
  font-family: 'hanyi';
  src : url('../fonts/hanyi.ttf');
}

@font-face{
  font-family: 'kaiti';
  src : url('../fonts/kaiti.ttf');
}

@font-face{
  font-family: 'heijianti';
  src : url('../fonts/shishangzhongheijianti.ttf');
}