$color-green: #00a396;
$color-orange: #FFA200;
$color-white: #FFFFFF;
$color-gray: #444444;

//主用字体
@font-face{
  font-family: 'lanting';
  src : url('../fonts/lanting.TTF');
}

//Nav字体
@font-face{
  font-family: 'kaiti';
  src : url('../fonts/kaiti.ttf');
}

//title用字体
@font-face{
  font-family: 'heijianti';
  src : url('../fonts/shishangzhongheijianti.ttf');
}

//card内部字体
@font-face{
  font-family: 'jianshoujinshu';
  src : url('../fonts/minijianshoujinshu.ttf');
}

body{
  font-family: 'lanting';
}

h1,h2,h3,h4,h5,h6{
  font-family: 'heijianti';
}

#menu{

  #contact-bar{
    background-color: $color-green;
    color: $color-white;
    display: block;
    width: 100%;
    font-family: 'kaiti';
    padding: 15px 80px 10px 30px;
    vertical-align: middle;

    img{
      max-width: 20px;
      max-height: 16px;
      margin: 0 2px;
    }

    #contact-top-bar>img{
      max-width: 13px;
      margin: 0 4px;
    }
  }

  #menu-bar{
    padding: 10px 0;
    width: 100%;
    align-items: flex-end;

    #menu-logo{
      //padding: ;
      img{
        width: 100%;
      }
    }

    .nav{
      li{
        a{
          color: $color-gray;
          font-family: 'kaiti';
          font-size: 22px;
          padding: 0 8px;

          &:hover{
            text-decoration: none;
          }
        }

        &:not(:first-child){
          position: relative;
        }

        .border-left:before{
          background-color: $color-gray;
          position: absolute;
          content: '';
          height: 50%;
          top: 25%;
          bottom: auto;
          left: 0;
          width: 1px;
        }
      }
    }

    .active{
      color: $color-orange !important;
    }
  }
}

#home{
  .swiper-container{
    .swiper-wrapper {
      min-height: 100%;
      .swiper-slide{
        height: auto !important;
        img{
          max-width: 100%;
        }
      }
    }
  }



}