@font-face {
  font-family: 'lanting';
  src: url("../fonts/lanting.TTF"); }
@font-face {
  font-family: 'kaiti';
  src: url("../fonts/kaiti.ttf"); }
@font-face {
  font-family: 'heijianti';
  src: url("../fonts/shishangzhongheijianti.ttf"); }
@font-face {
  font-family: 'jianshoujinshu';
  src: url("../fonts/minijianshoujinshu.ttf"); }
.public.tit {
  letter-spacing: .5rem;
  font-size: 1.2rem;
  color: #fff; }
  .public.tit span {
    border-radius: 3rem; }
    .public.tit span.tit-y {
      background: #FFA200; }
      .public.tit span.tit-y .tit-g {
        background: #00a396;
        border: 6px solid #fff; }

body {
  background: #00a396; }

.section {
  background-color: #fff; }
  .section#banner-main-block #banner-main {
    top: 0;
    right: 0;
    background-color: #fff;
    width: 70.8%;
    left: 14.6%; }
  .section#intro-block .tit-block {
    color: #00a396; }
    .section#intro-block .tit-block .tit-main {
      font-size: 1.7rem;
      font-family: 'kaiti';
      letter-spacing: .5rem; }
    .section#intro-block .tit-block .tit-sub {
      font-size: 1rem;
      font-family: 'kaiti';
      letter-spacing: .2rem; }
    .section#intro-block .tit-block .tit-third {
      font-size: 1.3rem;
      letter-spacing: .2rem;
      width: 30%;
      left: 35%;
      background: #fff;
      z-index: 10; }
    .section#intro-block .tit-block .underline {
      border-bottom: 2px #00a396 solid;
      left: 0;
      bottom: 44.6%; }
  .section#intro-block .content-block {
    background: #f3f3f3; }
    .section#intro-block .content-block .container p {
      text-indent: 2rem;
      line-height: 2rem;
      color: #00a396;
      font-weight: 100; }
  .section#banner-2-block {
    background: none;
    z-index: 100; }
  .section#banner-2-back-block {
    top: 40%;
    background-color: #00a396;
    z-index: -1; }
  .section#banner-4-block {
    background: #00a396; }
    .section#banner-4-block img {
      filter: brightness(0.8); }
    .section#banner-4-block #about-step img {
      left: 50%;
      transform: translateX(-50%);
      filter: brightness(0.4);
      transition: all .3s ease-in; }
      .section#banner-4-block #about-step img:hover {
        cursor: pointer;
        filter: brightness(0.8); }
    .section#banner-4-block #about-step .content {
      pointer-events: none;
      z-index: 999;
      color: #fff;
      left: 50%;
      transform: translateX(-50%); }
      .section#banner-4-block #about-step .content p {
        font-size: 1rem; }
      .section#banner-4-block #about-step .content span {
        font-size: .5rem;
        line-height: 1rem;
        display: block; }
    .section#banner-4-block .content {
      top: 35%;
      font-size: 2rem;
      line-height: 1.6rem;
      color: #DEAB7B; }
    @media screen and (max-width: 900px) {
      .section#banner-4-block .content {
        font-size: 1rem;
        line-height: 1rem; } }
    .section#banner-4-block .content-block {
      background: url(../images/about_us/banner-9-about.png) no-repeat;
      background-size: cover;
      background-position: center; }
      .section#banner-4-block .content-block p {
        color: #333;
        font-size: 1.5rem; }
        .section#banner-4-block .content-block p:nth-of-type(1) {
          border-bottom: 2px solid #333;
          padding-bottom: 1rem; }
        .section#banner-4-block .content-block p span {
          background: #FFA200;
          color: #fff; }
  .section#hezuo-block {
    background: #f3f3f3; }
    .section#hezuo-block .tit-g {
      border-color: #f3f3f3; }
  .section#slider-block {
    background: #f3f3f3; }
    .section#slider-block .tit-g {
      border-color: #f3f3f3; }

/*# sourceMappingURL=about_us.css.map */
