@font-face {
  font-family: "lanting";
  src: url("../fonts/lanting.TTF");
}
@font-face {
  font-family: "kaiti";
  src: url("../fonts/kaiti.ttf");
}
@font-face {
  font-family: "heijianti";
  src: url("../fonts/shishangzhongheijianti.ttf");
}
@font-face {
  font-family: "jianshoujinshu";
  src: url("../fonts/minijianshoujinshu.ttf");
}
.study p {
  margin: 30px auto;
}
@media screen and (min-width: 1024px) {
  .study p {
    width: 70%;
  }
}
.study .row .col {
  padding-top: 15px;
}
.study .row .col:hover {
  cursor: pointer;
  background-color: #00a396;
}
.study .row .col:hover p {
  color: white;
}
.study .row .col-special {
  flex: 0 0 20%;
  max-width: 20%;
}
@media screen and (min-width: 1024px) {
  .study .row .col-special8 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}
.study .row p {
  margin-top: 10px;
  color: #00a396;
}

.sixth {
  padding: 30px 0;
}

.section#banner-main-block {
  background-image: url("../images/about_us/bg-gallery.png");
  background-position: top;
  background-size: 100%;
}
.section#banner-main-block .container {
  position: relative;
}
.section#banner-main-block .container .center-center {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section#banner-main-block .container .center-center img {
  display: block;
  margin: 0 auto;
}
.section#banner-main-block .container .center-center h2 {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 1rem;
  color: #FFA200;
}
.section#banner-main-block .container .center-center .divider {
  margin: 10px 0;
  width: 100%;
  border-top: 1px solid #FFA200;
}
.section#intro-block .tit-block {
  color: #00a396;
}
.section#intro-block .tit-block .tit-main {
  font-size: 1.7rem;
  font-family: "kaiti";
  letter-spacing: 0.5rem;
}
.section#intro-block .tit-block .tit-sub {
  font-size: 1rem;
  font-family: "kaiti";
  letter-spacing: 0.2rem;
}
.section#intro-block .tit-block .tit-third {
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  width: 30%;
  left: 35%;
  background: #fff;
  z-index: 10;
}
.section#intro-block .tit-block .underline {
  border-bottom: 2px #00a396 solid;
  left: 0;
  bottom: 44.6%;
}
.section#intro-block .content-block {
  background: #f3f3f3;
}
.section#intro-block .content-block .container p {
  text-indent: 2rem;
  line-height: 2rem;
  color: #00a396;
  font-weight: 100;
}
.section#banner-2-block {
  background: #00a396;
}
.section#banner-4-block {
  background: #00a396;
}
.section#banner-4-block .container .content {
  top: 35%;
  font-size: 2rem;
  line-height: 1.6rem;
  color: #DEAB7B;
}
.section#banner-4-block .container .content-block {
  background: url(../images/about_us/banner-9-about.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.section#banner-4-block .container .content-block p {
  color: #333;
  font-size: 1.5rem;
}
.section#banner-4-block .container .content-block p:nth-of-type(1) {
  border-bottom: 2px solid #333;
  padding-bottom: 1rem;
}
.section#banner-4-block .container .content-block p span {
  background: #FFA200;
  color: #fff;
}