@font-face {
  font-family: 'lanting';
  src: url("../fonts/lanting.TTF"); }
@font-face {
  font-family: 'kaiti';
  src: url("../fonts/kaiti.ttf"); }
@font-face {
  font-family: 'heijianti';
  src: url("../fonts/shishangzhongheijianti.ttf"); }
@font-face {
  font-family: 'jianshoujinshu';
  src: url("../fonts/minijianshoujinshu.ttf"); }
.public.tit {
  letter-spacing: .5rem;
  font-size: 1.2rem;
  color: #fff; }
  .public.tit span {
    border-radius: 3rem; }
    .public.tit span.tit-y {
      background: #FFA200; }
      .public.tit span.tit-y .tit-g {
        background: #00a396;
        border: 6px solid #fff; }

body {
  background: #00a396; }

.section {
  background-color: #fff; }
  .section#banner-main-block #banner-main {
    top: 0;
    right: 0;
    background-color: #fff;
    width: 70.8%;
    left: 14.6%; }
  .section#intro-block .tit-block {
    color: #00a396; }
    .section#intro-block .tit-block .tit-main {
      font-size: 1.7rem;
      font-family: 'kaiti';
      letter-spacing: .5rem; }
    .section#intro-block .tit-block .tit-sub {
      font-size: 1rem;
      font-family: 'kaiti';
      letter-spacing: .2rem; }
    .section#intro-block .tit-block .tit-third {
      font-size: 1.3rem;
      letter-spacing: .2rem;
      width: 30%;
      left: 35%;
      background: #fff;
      z-index: 10; }
    .section#intro-block .tit-block .underline {
      border-bottom: 2px #00a396 solid;
      left: 0;
      bottom: 44.6%; }
  .section#intro-block .content-block {
    background: #fff; }
    .section#intro-block .content-block .container p {
      text-indent: 2rem;
      line-height: 2rem;
      color: #000;
      font-weight: 100; }
  .section#banner-4-block {
    background: #00a396; }
    .section#banner-4-block .content {
      top: 35%;
      font-size: 2rem;
      line-height: 1.6rem;
      color: #DEAB7B; }
    .section#banner-4-block .content-block {
      background: url(../images/about_us/banner-9-about.png) no-repeat;
      background-size: cover;
      background-position: center; }
      .section#banner-4-block .content-block p {
        color: #333;
        font-size: 1.5rem; }
        .section#banner-4-block .content-block p:nth-of-type(1) {
          border-bottom: 2px solid #333;
          padding-bottom: 1rem; }
        .section#banner-4-block .content-block p span {
          background: #FFA200;
          color: #fff; }
  .section#hezuo-block {
    background: #f3f3f3; }
    .section#hezuo-block .tit-g {
      border-color: #f3f3f3; }
  .section#slider-block {
    background: #f3f3f3; }
    .section#slider-block .tit-g {
      border-color: #f3f3f3; }

.third {
  background-color: #00a396;
  padding-top: 40px;
  padding-bottom: 40px; }
  .third .container {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px 30px; }
    .third .container #myModal {
      padding: 20px 1rem; }
      .third .container #myModal .modal-content {
        padding: 10px 1rem; }
        .third .container #myModal .modal-content .modal-header {
          border-bottom-style: none; }
        .third .container #myModal .modal-content .modal-footer {
          border-top-style: none; }
        .third .container #myModal .modal-content .modal-body h6 {
          background: #FFA200;
          color: white;
          display: inline-block;
          border-radius: 14px;
          padding: 5px 20px;
          margin: 20px auto 30px; }
        .third .container #myModal .modal-content .modal-body .sub-title {
          color: black;
          font-weight: bold; }
        .third .container #myModal .modal-content .modal-body .inline {
          display: inline-block; }
        .third .container #myModal .modal-content .modal-body p {
          text-indent: 1rem;
          margin-bottom: 10px; }
    .third .container .row .title {
      color: #FFA200;
      font-size: 26px;
      margin-bottom: 5px; }
    .third .container .row button {
      font-size: 20px;
      background-color: #FFA200;
      border-radius: 15px;
      display: inline-block;
      padding: 5px 10px;
      color: white;
      font-weight: bold;
      border: none; }
    .third .container .row .sub-title {
      color: #FFA200; }
      .third .container .row .sub-title span {
        padding: 0 10px; }
    .third .container .row .col-special4 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
      flex: 0 0 40%;
      max-width: 40%;
      padding: 0 20px; }
    .third .container .row .col-special6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
      flex: 0 0 60%;
      max-width: 60%; }
    .third .container .row p {
      margin-top: 15px; }

/*# sourceMappingURL=oversea_services.css.map */
