/*
Error: Invalid CSS after "  }": expected selector or at-rule, was "}"
        on line 1020 of /Users/garycheng/.bitnami/stackman/machines/xampp/volumes/root/htdocs/prosperous_education/resources/sass/main.scss

1015:       .swiper-button-disabled{
1016:         opacity: 0.5;
1017:       }
1018:     }
1019:   }
1020: }

Backtrace:
/Users/garycheng/.bitnami/stackman/machines/xampp/volumes/root/htdocs/prosperous_education/resources/sass/main.scss:1020
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:42:in `parse'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
/Applications/Koala.app/Contents/Resources/app.nw/bin/sass:22:in `load'
/Applications/Koala.app/Contents/Resources/app.nw/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  }\": expected selector or at-rule, was \"}\"\A         on line 1020 of /Users/garycheng/.bitnami/stackman/machines/xampp/volumes/root/htdocs/prosperous_education/resources/sass/main.scss\A \A 1015:       .swiper-button-disabled{\A 1016:         opacity: 0.5;\A 1017:       }\A 1018:     }\A 1019:   }\A 1020: }"; }
